
.app-logo {
  height: 80%;
  display: inline-flex;
  animation: app-logo-spin infinite 5s linear;
}

@keyframes app-logo-spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

.app-wrapper {
  display: grid;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.header {
  grid-area: h;
  background: green;
}

.nav {
  grid-area: n;
}

.content {
  grid-area: c;
}