.dialogs {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.dialogsitems {
  padding: 10px;
  
}
.dialog {
  display: block;
  color: white;
  text-decoration: none;
}
.dialog.active {
  color: gold;
}


.messages {
  padding: 10px;
}

.message {

}
